*{
	padding:0;
	margin:0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{
	z-index: 100;
	background: #ba0000;
	width: 100%;
	display: flex;
	position: fixed;
	padding-bottom: 15px;
}


.heder p{
	color: white;
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 35px;
	font-weight: 400;

}


.header__logo{
	text-transform: uppercase;
	color: white;
	font-weight: 800;
	font-size:24px;
	 cursor: pointer;
	 margin-top: 15px;
	 margin-left: 12%;

}

.contacti {
	margin-right: 20px;
	margin-top: -100px;
	text-align: right;
}

.contacti h4{
	color: white;
	line-height: 1.3;
}


nav{
	 margin-right: 100px;
	 text-align: left;
	 margin-top: 40px;
}
.topnav a{
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	padding: 12px 14px;
	font-size: 14px;
	font-weight: bold;

}
.topnav {
	margin-top: -60px;
}


.topnav a:hover{
	border: 1px solid white;
	border-radius: 7px;
	text-decoration: none;
	color: white;

}
.topnav .icon{
	display: none;
}






main .carousel{
	padding-top: 100px;
	border-bottom: 5px solid red;
}

.carousel p{
	color: black;
}

.carousel h3{
	color: black;
}





.mycompany{
	color: #fcac45;
}
.wrapper{
	width: 80%;
	margin:0 auto;
}
main .main__about{
	display: flex;
	padding: 100px 0 100px 0;
}
.about__right{
	margin-left: 175px;
}
.about__right h1{
	display: inline-block;
	border-bottom: 3px solid red;
	padding-bottom: 20px;
}
.about__right h1:after{
	display: none;
}
.about__right p{
	margin:30px 0 50px 0;
	color: #6c6c6c;

}
.about__right li{
background: url(img/mark.png) 0px no-repeat;
padding-left: 25px;
}
.mw-100{
	min-width: 100%;
}

.main__team{
	border-top:5px solid red;
	border-bottom:5px solid red;
	background-image: url('img/backgr.jpg') ;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;

}
.main__team h1{
	font-size: 44px;
	padding-bottom: 30px;
}
/*.line{
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	left: 47%;
	margin-bottom: 80px;

}*/
.photo{
	background-image: url('img/person.jpeg');
	background-size: cover;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin:20px auto;
}
.team__cards{
	display: flex;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.position{
	font-size: 16px;
	margin-bottom: 35px;

}
.about__position{
	font-size: 14px;
}
.card{
	margin:0 40px;
	color: black;

}

.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}

.main__services {
	border-bottom:5px solid red;
}
.main__services h1{
	text-align: center;
	padding: 100px 0 30px 0;

}
.main__services p{
	color: #6c6c6c;
	margin-bottom: 100px;

}
.services__card h4{
	margin-top: 20px;
	margin-bottom: 15px;

}

.main__clients{
	background: #000;
	padding: 100px 0 205px 0;
	color: white;
	text-align:center; 
}
.main__clients h1{
margin-bottom: 30px;
}
.main__clients img{
	margin-top: 10px;
	margin-left: 30px;
}
.main__testimonials{
background: #000;
text-align: center;
color: #fff;
padding-bottom: 175px;

}
.main__testimonials h1{
text-transform: uppercase;
margin-top: 100px;
margin-bottom: 30px;
}
.main__testimonials .testimonial{
text-transform: uppercase;
margin-bottom: 50px;
}

.main__work{
	text-align: center;
	padding:100px 0 100px 0;
}
.main__work h1{
	margin-bottom: 30px;
}
.main__work p{
	margin-bottom: 175px;
	color: #6c6c6c;
}
.main__work img:hover{
	opacity: 0.9;
}
.contact__form{
	padding: 100px 0 100px 0;
}
.contact__form h1,p{
	text-align: center;
}

.contact__wrapper{
	width: 80%;
	margin:0 auto;
	color: #636363;
}
.red{
	color: red;
}
input{
	width:360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
.form__inputs{
	display: flex;
}
textarea{
	width: 100%;
	height: 170px;
}
input,textarea{
	border:1px solid #999999;
	margin-top: 5px;
}
input:first-of-type{
	margin-right: 22px
}
.button__block{
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: white;
	margin-right: 0;
	margin-top: 20px;
}
.contact p{
	display: flex;
	text-align: : left;
}
.contact__form{
	border-top: 5px solid red;	
}
.contact__form h1{
color: black;
margin-bottom: 30px;
}
.contact__form p{
	margin-bottom: 30px;
}
.contact__form .line{
	margin-left: -30px;
	}
	form{
		text-align: left;
	}
	h1:after{
		content: "";
		display: block;
		margin: 0 auto;
		width: 100%
		border-bottom:3px solid #fcac45;
	}



.social{
	display: flex;
	justify-content: center;

}
.social img{
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.9;
}



@media screen and (max-width: 1200px){
	nav{
		margin-left:10%; 
	}

	.contacti{
 		margin-left: 30px;
 		margin-top: -50px;
		padding-bottom: 30px

	}

	.heder p{
		margin-left: 50px;
		text-align: left;
	}
	@media screen and (max-width: 1105px){
	nav{
		margin-left:10%; 
	}
}
@media screen and (max-width: 1014px){
	
	.topnav a.icon{
		float: right;
		margin-top: -15px;
		display: block;
		color: #fff;
		font-size:25px;
	}
	nav{
		width: 50%;

	}
	.topnav{
		position: fixed;
	}

	header{
		padding-bottom: 70px;
	}
	

	header .topnav.responsive{
		height: 40px;
		left: 1px;
		padding-top: 30px;
	}

	header .heder p{
		margin-right: 150px;
		font-size: 50px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		bottom: 0px;

	}
	.topnav.responsive a{
		float: left;
		display: inline-flex;
		text-align: center;
		font-size: 20px;
	}

	.carousel-caption h3{
	 font-size: 50px;
	}

	.carousel-caption p{
	 font-size: 20px;
	}
	
	main{
		padding-top: 240px;
	}
	
	.mw-100{
	max-width: 100%;
	}
	.main__about{
		flex-direction: column;
	}

	
	.about__right{
		text-align: center;
		margin-left: 0;
	}
	.about__right li{
		text-align: center;
		font-size: 20px;
	}
	.about__right h1{
		 margin-top: 10px;
		 font-size: 50px;
	}

	.about__right p{
		font-size: 20px;
	}




	.team__cards{
	flex-direction: column;
}

.card{
	margin-bottom: 20px;
}
.card h4{
	font-size: 40px;
}

.card h2{
	font-size: 25px;
	line-height: 1.6;
}

.card p{
	font-size: 20px;
}

 .wrapper h1{
	font-size: 50px;

}
.services__cards{
	grid-template-columns: auto;
}

.wrapper p{
	font-size: 30px;
}

.services__card h4{	
	font-size: 40px;
}

.services__card img{	
	width: 350px;
	height: 350px;
}


.main__work h1{
	font-size: 50px;
}

.main__work p{
	font-size: 30px;
}

.contact__wrapper h1{
	font-size: 50px;
}

.contact__wrapper p{
	font-size: 30px;
}


.line1 img:not(:first-child){
display: none;
}
.line2 img:not(:first-child){
display: none;
}
.line3 img:not(:first-child){
display: none;
}

.contact__form{
	flex-direction: row;
}

}


@media screen and (max-width: 375px){






}


